* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* background-color:#232946; */
}
a {
  text-decoration: none;
}
header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #1A3D6C;
  justify-content: space-around;
}

header h1 {
  color: white;
  background-color: transparent;
  font-size: 20px;
}

header .download-button {
  align-items: center;
  background-color: transparent;
  border: .5px solid #ccc;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  padding: 10px;
}

header .download-button:hover {
  background-color: 'white';
}

header .download-button img {
  margin-right: 20px;
}

/* #app nav {
    display: none;
  } */

#app nav {
  animation: nav-in 200ms linear;
  background-color: #1A3D6C;
  display: none;
  flex-direction: column;
}

#app nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

#app .show {
  display: flex;
}

@keyframes nav-in {
  from {
    opacity: 0;
    /* transform: translateY(-100%) */
  }

  to {
    opacity: 1;
    /* transform: translateY(0px) */
  }
}

/*
    -> mobile view 
*/

@media (max-width:500px) {
  #app main {
    height: calc(100vh - 75px);
    width: 100vw;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  } */
  }

  #app header {
    justify-content: space-between;
  }

  #app header h1 {
    margin-left: 20px;
  }

  #app header .menu-container img {
    width: 30px;
    margin-right: 20px;
  }

  #app .banner article {
    border-radius: 5px;
    background-color: #cff4fc;
    border-color: #b6effb;
    color: #055160;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 90vw;
    text-align: left;
  }

  #app section h2 {
    font-size: 15px;
    margin: 10px 0px;
  }

  #app section p {
    font-size: 14px;
  }

  #app section {
    text-align: left;
  }

  #app .about-info {
    width: 90%;
    margin: 0 auto;
  }

  #app .about-info article {
    margin-bottom: 40px;
  }

  #app section .button-container {
    display: flex;
    justify-content: center;
  }

  #app section .button-container button {
    width: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #084298;
    background-color: #cfe2ff;
    border: .5px solid #b6d4fe;
    height: 50px;
  }

  #app section article .images img {
    width: 100%;
    border-radius: 5%;
    margin: 20px 0px;
  }

  #app footer {
    height: 50px;
    background-color: #1A3D6C;
  }
  /*
  
    Instrucciones Screen

  */
  .example-img {
    width:100%;
    margin-top:20px;
  }
  .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    border-radius:10px;
    padding:10px;
    margin-top:20px;
  }
  .instagram-img-example {
    display: block;
    margin:0px auto;
    margin-bottom: 20px;
  }
}